* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-image: url(../assets/stanley.jpg);
  background-position: center;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgb(162, 43, 43);
}

.textcontainer {
  padding: 80px;
  width: 380px;
  background-color: rgba(255, 255, 255, 0.844);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 660px;
  width: 300px;
}

.grid div {
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.468);
}

.grid div.top {
  flex-grow: 1;
  height: 30px;
  width: 30px;
}

.grid div.topline {
  flex-grow: 1;
  height: 30px;
  width: 30px;
  border-bottom: 1px solid black;
}

.grid div.bottom {
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.grid div.playertetrimino {
  background-color: none;
}

.grid div.fixedtetrimino {
  background-color: grey;
  border: 1px solid lightgrey;
}

.grid div.ghost {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px dashed rgba(0, 0, 0, 0.5);
}

.grid div.dropping {
  background-color: none;
}

#level {
  font-weight: 700;
}

#score {
  font-weight: 700;
}

#lines {
  font-weight: 700;
}

.grid div.t {
  background-color: purple;
  border: 1px solid lightgrey;
}

.grid div.j {
  background-color: blue;
  border: 1px solid lightgrey;
}

.grid div.z {
  background-color: red;
  border: 1px solid lightgrey;
}

.grid div.o {
  background-color: yellow;
  border: 1px solid lightgrey;
}

.grid div.s {
  background-color: green;
  border: 1px solid lightgrey;
}

.grid div.l {
  background-color: orange;
  border: 1px solid lightgrey;
}

.grid div.i {
  background-color: cyan;
  border: 1px solid lightgrey;
}
